.full-width {
    width: 100%;
}

.card-bg {
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;
    background-color: #ebebeb;
    border-radius: 10px;
}

.card-footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

body {
    background-image: url("../img/seigaiha.png");
}

.thumbnail {
    padding: 0;
}

.panel {
    position: relative;
}

.panel>.panel-heading:after,.panel>.panel-heading:before {
    position: absolute;
    top: 11px;
    left:-16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel>.panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel>.panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.panel-primary>.panel-heading {
    background-color: #8c8c8c;
    border-color: #8c8c8c;
}

.panel-primary {
    border-color: #8c8c8c;
}
