.full-width {
    width: 100%;
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.card-bg {
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;
    background-color: #4e5d6c;
    border-radius: 10px;
}

.card-footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

/*body {*/
    /*background-image: url("../img/seigaiha.png");*/
/*}*/

.thumbnail {
    padding: 0;
}

.panel {
    position: relative;
}

.panel>.panel-heading:after,.panel>.panel-heading:before {
    position: absolute;
    top: 11px;
    left:-16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel>.panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel>.panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.panel-primary>.panel-heading {
    background-color: #2b3e50;
    border-color: #2b3e50;
}

.panel-primary {
    border-color: #2b3e50;
}

a {
    color: #ffffff;
}

.text-muted {
    color: #bbbbbb;
}

.btn-default {
    background-color: #2b3e50;
}

p.card-text {
    color: #dddddd;
}

h9{
    color: #ffffff
}

.copyleft{
    display: inline-block;
    transform: rotate(180deg);
}