{% extends "payment/theme.html" %}
{% load bootstrap %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 style="margin-bottom: 20px;" class="text-center">Reload Balance</h1>
            <div class="col-md-6 col-md-offset-3 card-bg">
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-default" type="submit">Reload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
