{% extends "payment/theme.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 card-bg panel panel-default">
                <div class="panel-heading">
                    <header class="panel-title"><strong>Frequently Asked Questions</strong></header>
                </div>
                <div class="panel-body ">
                    <hr>
                    <h2 class="panel-title"><strong>Who we are?</strong></h2>
                    <h4>All of us human beings.</h4>
                    <hr>
                    <h2 class="panel-title"><strong>What are your systems benefits?</strong></h2>
                    <h4>Benefits of our system is uncountable.</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}