{% extends "payment/theme.html" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <header class="panel-title"><b>Frequently Asked Questions</b></header>
        </div>
        <div class="panel-body">
            <hr>
            <h4 class="panel-title">Who we are?</h4>
            <h6>All of us human beings.</h6>
            <hr>
            <h4 class="panel-title">What are your systems benefits?</h4>
            <h6>Benefits of our system is uncountable.</h6>
        </div>
    </div>
{% endblock %}