{% extends "payment/theme.html" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <header class="panel-title"><b>Frequently Asked Questions</b></header>
        </div>
        <div class="panel-body">
            <hr>
            <h4 class="panel-title">Biz Kimiz?</h4>
            <h6>Biz her şeyden önce insanız.</h6>
            <hr>
            <h4 class="panel-title">Sistemin faydaları nelerdir?</h4>
            <h6>Sistemin faydaları saymakla bitmez.</h6>
        </div>
    </div>
{% endblock %}