{% extends "payment/theme.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card-deck">
                {% for product in products %}
                    <div class="col-md-4 col-xs-12">
                        <div class="card mb-3 card-bg">
                            <img class="card-img-top full-width" style="max-height: 400px; object-fit: cover;" src= "{{ product.get_image_url }}" alt="Card image cap">
                            <div class="card-block">
                                <a href="{% url "product" product_slug=product.slug %}"><h4 class="card-title">{{product.name|title }}</h4></a>
                                <p class="card-text">{{ product.description }}</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text text-muted">
                                    <small>
                                        Brand: {{ product.brand|title }}<br>Product Home: <a href="{{ product.product_home }}" target="_blank" class="text-muted">{{ product.product_home }}</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}