{% load static gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap-superhero.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>{{ title }}</strong></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% url "index" as index_url %}
                    <li {% if request.path == index_url %}class="active"{% endif %}><a href="/">Vendors </a></li>
                    {% url "products" as products_url %}
                    <li  {% if request.path == products_url %}class="active"{% endif %}><a href="{% url "products" %}">Products </a></li>
                    {% url "card" as card_url %}
                    <li  {% if request.path == card_url %}class="active"{% endif %}><a href="{% url "card" %}">Reload </a></li>
                    {% url "faq" as faq_url %}
                    <li  {% if request.path == faq_url %}class="active"{% endif %}><a href="{% url "faq" %}">F.A.Q </a></li>
                    {% url "contact" as contact_url %}
                    <li  {% if request.path == contact_url %}class="active"{% endif %}><a href="{% url "contact" %}">Contact </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url "profile" profile_slug=request.user.username %}">User: {{request.user.username}}<span style="margin-left: 15px">{% gravatar request.user.email 25 %}</span></a></li>
                        {% url "logout" as logout_url %}
                        <li  {% if request.path == logout_url %}class="active"{% endif %}><a href="{% url "logout" %}">Logout </a></li>
                    {% else %}
                        {% url "signup" as signup_url %}
                        <li  {% if request.path == signup_url %}class="active"{% endif %}><a href="{% url "signup" %}">Sign Up </a></li>
                        {% url "login" as login_url %}
                        <li  {% if request.path == login_url %}class="active"{% endif %}><a href="{% url "login" %}">Login </a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% block body %}{% endblock %}
    <footer class="navbar navbar-default footer">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a><span class="copyleft">&copy;</span> Copyleft Lannisters Py</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><h9><em>A Lannister Machine always pays its debts.</em></h9></a></li>
            </ul>
        </div>
    </footer>
</body>
<script src="{% static "js/jquery-3.1.1.slim.min.js" %}"></script>
<script src="{% static "js/tether.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</html>