<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>{{ title }}</strong></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% url "index" as index_url %}
                    <li {% if request.path == index_url %}class="active"{% endif %}><a href="/">Vendors </a></li>
                    {% url "products" as products_url %}
                    <li  {% if request.path == products_url %}class="active"{% endif %}><a href="{% url "products" %}">Products </a></li>
                    {% url "contact" as contact_url %}
                    <li  {% if request.path == contact_url %}class="active"{% endif %}><a href="{% url "contact" %}">Contact </a></li>
                    {% url "card" as card_url %}
                    <li  {% if request.path == card_url %}class="active"{% endif %}><a href="{% url "card" %}">Reload </a></li>
                    {% url "transactions" as transactions_url %}
                    <li  {% if request.path == transactions_url %}class="active"{% endif %}><a href="{% url "transactions" %}">Transactions </a></li>
                    {% url "transactions" as transactions_url %}
                    <li  {% if request.path == faq_url %}class="active"{% endif %}><a href="{% url "faq" %}">F.A.Q </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% block body %}{% endblock %}
</body>
<script src="{% static "js/jquery-3.1.1.slim.min.js" %}"></script>
<script src="{% static "js/tether.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</html>