{% extends "payment/theme.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Transactions
                        </h2>
                    </div>
                    <div class="panel-body">
                        <h3>
                            {{ object.username }}<span style="float: right;">Balance: ${{ request.user.card.balance }}</span>
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4>Account #{{ request.user.card }}</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Operation date</th>
                                    <th>Amount</th>
                                    <th>PrepaidCard</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in transactions %}
                                        <tr>
                                            <td>{{ transaction.date }}</td>
                                            <td>{{ transaction.prepaid_card.value }}</td>
                                            <td>{{ transaction.prepaid_card }}</td>
                                            <td>Reloaded from PrepaidCard</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if request.user.is_superuser %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Super Admin Area</h1>
                <p><a href="{% url "generator" %}">Prepaid Card Generator</a> | <a href="{% url "cards" %}">See Available Prepaid Cards</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 card-bg text-center">
                <h3>Enter Value</h3>
                <p><input class="input-lg" id="value"></p>
                <p><button onclick="generatePrepaidCard()" class="btn btn-default">Generate Prepaid Card</button></p>
            </div>
        </div>
    {% endif %}
    <script>
        function generatePrepaidCard() {
            $.post(
                "{% url "generate" %}",
                {
                    "value": $("#value").val(),
                    "csrfmiddlewaretoken": getCookie('csrftoken')
                },
                function(data) {
                    alert("Generated PrepaidCard: " + data["barcode"]);
                },
                "json"
            )
        }
    </script>
{% endblock %}
